@import "../../utilities";

.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px 15px 20px;
  background: linear-gradient(to right, $bright-yellow 0%, $dark-yellow 80%);
  overflow: hidden;

  &-visual {
    width: 100%;
    height: 300px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    float: left;

    h2 {
      display: block;
      align-self: flex-start;
      font-size: 20px !important;
      line-height: 31.2px;
      font-weight: 500;
      padding-top: 10px;
      text-align: left;
      color: $text-dark;
      padding: 10px 10px 0px;
    }
  }

  &-content {
    // margin-top: 1rem;
    color: $text-dark;
    font-family: $font-roboto;
    height: auto;
    width: 100%;
    padding: 0px 10px;
    // padding: 0px 0px 0px;
    text-align: left;

    p {
      font-size: 16px;
      font-weight: normal;
      padding: 0px 0px 10px;
      // color: $text-dark;
      text-align: left;
    }

    button {
      font-size: 16px;
      font-weight: normal;
      color: $silver;
      text-decoration: none;
      background: $text-dark;
      border: $text-dark;
      outline: none;
      // color: $black;
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
    }
  }
}
