@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Lora:wght@400;500;600&display=swap");

$font-josefin: "Josefin Sans", sans-serif;
$font-lora: "Lora", serif;

// $bg-dark: #1d1e2c;
// $bg-dark: #0a0908;
$bg-dark: linear-gradient(60deg, #0a0908 10%, #1d1e2c 80%);
$black: #1d1e2c;
// F2F4F3

$primary-dark: #40434e;
$silver: #f2f4f3;
$gray: #c4bbaf;

body {
  font-family: $font-josefin;
}
