@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto+Condensed:wght@400;700&display=swap");

$font-roboto: "Roboto Condensed", sans-serif;
$font-lora: "Lora", serif;

// $bg-dark: #1d1e2c;
// $bg-dark: #0a0908;
$bg-dark: linear-gradient(60deg, #0a0908 10%, #1d1e2c 80%);
$black: #0a0908;
$text-dark: #1d1d1d;
// F2F4F3

$primary-dark: #40434e;
$silver: #f2f4f3;
$gray: #c4bbaf;

$breakpoint-md: 760px;
$breakpoint-lg: 992px;

$bright-yellow: #ffea00;
$dark-yellow: #ffd000;
$yellow: #f6e27f;

body {
  font-family: $font-roboto;
  // width: 100vw;
}

@mixin md-screen {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg-screen {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}
