@import "../../utilities";

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  width: 100%;
  // max-width: 992px;
  height: 80px;
  font-family: $font-lora;
  padding: 20px 5px 0px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: $black;

  &.nav-mobile::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 90%;
    // padding: 0px 20px;
    background: rgba($primary-dark, 0.5);
  }

  .logo {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  #mobileToggler {
    margin-right: 15px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    // background: blue;

    .bar {
      display: block;
      height: 2.5px;
      width: 100%;
      background: $silver;
      margin: 10px 0px;
      transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
    }

    &.active {
      .bar {
        &:first-child {
          -webkit-transform: translateY(6px) rotate(45deg);
          -moz-transform: translateY(6px) rotate(45deg);
          -ms-transform: translateY(6px) rotate(45deg);
          -o-transform: translateY(6px) rotate(45deg);
          transform: translateY(6px) rotate(45deg);
        }

        &:last-child {
          -webkit-transform: translateY(-6px) rotate(-45deg);
          -moz-transform: translateY(-6px) rotate(-45deg);
          -ms-transform: translateY(-6px) rotate(-45deg);
          -o-transform: translateY(-6px) rotate(-45deg);
          transform: translateY(-6px) rotate(-45deg);
        }
      }
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background: $black;
  font-family: $font-lora;
  padding-top: 30px;
  overflow: hidden;
  z-index: 100;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    text-align: left;
    padding: 0px 0px 0px 50px;

    @include md-screen {
      padding: 0px 0px 0px 20%;
    }

    li {
      display: block;

      &:first-child {
        a::after {
          width: 275%;
        }
      }

      a {
        padding: 30px 0px;

        display: block;
        font-size: 44px;
        color: $silver;
        text-decoration: none;
        letter-spacing: 1.2px;
        position: relative;
        z-index: 107;
        transition: color 0.3s ease-in-out;

        @include md-screen {
          padding: 50px 0px;
        }

        &::after {
          content: url("../../assets/paint-stroke-1.svg");
          height: 100px;
          width: 200%;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          transform: translate(-10%, 15%);
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.2s ease-in-out;
          z-index: -1;

          @include md-screen {
            transform: translate(-10%, 30%);
          }
        }

        &:hover::after,
        &:focus::after,
        &.active::after {
          opacity: 1;
        }

        &:hover,
        &:focus,
        &.active {
          color: $black;
        }
      }
    }
  }
}
